.emp-dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background-color: #1ca29c;
    color: #fff;
    width: 200px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(3, 16, 56, 0.1);
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #05545a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
  }
  
  .sidebar button:hover {
    background-color: #616060;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  /* Add additional styles for profile picture, user name, etc. */
  